
#recipe-note {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url('lab-assets/list-bg.png');
  background-repeat: repeat-y;
  background-size: 1200px 300px;
}

ul {
  list-style: none;
}

li:before{
  content: "\2610";
  margin-right:5px;
}

li.crossed:before {
  content: "\2611";
  margin-right:5px;
}

li.crossed {
  text-decoration: line-through;
}

#van-pic {
  float: left;
  padding: 10px;
}

#van-info {
  float: left;
  color: darkslategray;
  width: 50%;
}

#share-button {
  float: left;
  background-color: #d9734e;
  border: none;
  color: white;
  padding: 15px 32px ;
  font-size: 14pt;
  text-align: center;
 
}

#footer {
  position: relative;
  top: 300px;
}

#bottom-text {
  color: lightgray;
  position: absolute;
  left: 37%;
  text-align: center;
}

#bottom-fork-icon {
  position: absolute;
  left: 48%;
  top: -50px;
}
.App {
  width: 80%;
  margin: auto;
}

header {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

#logo {
  float: left;
  margin-right: 10px;
  height: 75px;
  width: 75px;
}

#delicious {
  font-size: 30px;
}

#header-right {
  margin-left: 50%;
}

#rss {
  margin-left: 10px;
}
