.App {
  width: 80%;
  margin: auto;
}

header {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

#logo {
  float: left;
  margin-right: 10px;
  height: 75px;
  width: 75px;
}

#delicious {
  font-size: 30px;
}

#header-right {
  margin-left: 50%;
}

#rss {
  margin-left: 10px;
}

.bar {
  width: 100%;
  margin-top: 30px;
}